accelerate
bitsandbytes
loralib
psutil
requests
responses
rich
-e git+ssh://git@github.com/minnesotanlp/talkative-llm.git@4d3c3454446ed39cfd698bb1f981b0e0229b6476#egg=talkative_llm
tokenizers
torchaudio
torchvision
tqdm
sentencepiece
scipy
transformers==4.29.1
cohere==4.1.4
datasets==2.12.0
huggingface-hub==0.14.1
openai==0.27.2
OpenAIAuth==0.3.2
peft==0.3.0
protobuf==3.20.0
triton-pre-mlir@git+https://github.com/vchiley/triton.git@triton_pre_mlir_sm90#subdirectory=python
flash-attn==1.0.3.post0
torch>=2.0.0
